.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/*
/_site/*

/.quarto/
/.venv/
/_extensions/*

**/.DS_Store

**/*.quarto_ipynb

books/the-wtx-guide/analysis_results/
books/the-wtx-guide/assets/
books/the-wtx-guide/_extensions/
books/the-wtx-guide/_freeze/
books/the-wtx-guide/pyenv_simple/
books/the-wtx-guide/renv/
